//Primary
$softRed: hsl(7, 99%, 70%);
$yellow: hsl(51, 100%, 49%);
$darkDesaturatedCyan: hsl(167, 40%, 24%);
$darkBLue: hsl(198, 62%, 26%);
$skyBlue: #0492d8;
$skyBlueHover: rgba(255, 255, 255, 0.2);
$darkModerateCyan: hsl(168, 34%, 41%);


// Nuetral
$veryDarkDesaturatedBlue: hsl(212, 27%, 19%);
$veryDarkGrayishBlue: hsl(232, 10%, 55%);
$grayishBlue: hsl(210, 4%, 67%);
$white: hsl(0, 0%, 100%);

