footer {
    background-color: $cyan;
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    .footer-logo, .details, .social-medias{
        margin: auto 0;
        padding-bottom: 2em;
    }
    .footer-logo {
        padding-top: 2em;
        padding-bottom: .5em;
        filter: invert(49%) sepia(47%) saturate(381%) hue-rotate(118deg) brightness(89%) contrast(89%);      
    }
    a {
        text-decoration: none;
        margin: 1em;
        color: $darkDesaturatedCyan;
    }
    .about-footer:hover, .services-footer:hover, .projects-footer:hover{
        color: white;
    }
    .social-medias{
        display: flex;
        gap: 1em;
        justify-content: center;
        
    }

    .fa-square-facebook, .fa-instagram, .fa-twitter, .fa-pinterest{
        filter: invert(49%) sepia(47%) saturate(381%) hue-rotate(118deg) brightness(89%) contrast(89%);
    }
    .fa-square-facebook:hover, .fa-instagram:hover, .fa-twitter:hover, .fa-pinterest:hover{
        cursor: pointer;
        filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(80deg) brightness(106%) contrast(101%);
        }
    }