.wrapper_one {
    height: 100vh;
    max-width: 100%;
    background: url("../src/images/desktop/image-header.jpg") no-repeat center center;
    background-size: cover;
    padding-top: 2rem;
    padding-right: 2rem;
    overflow: hidden;

    .wrapper_two {
        display: flex; 
        justify-content: space-between;
        padding-left: 2rem;
        // border: 2px solid red;
        height: 2rem;
        color: $white;
        // background-color: $skyBlue;
        

        .logo {
            display: flex;
            align-items: center;
            font-family: "Fraunces";
            // background-image: url("/src/images/logo.svg");
            // width: 124px; 
            // height: 24px;
            border: none;
            margin-top: 2px;
        }

        i {
            display: none;
        }
        

        nav {
            display: flex;
            align-items: flex-end;
            font-family: "Barlow";

            a {
                padding: 10px;
                text-decoration: none;
                color: $white;
                padding-right: 20px;

                
            }

            button {
                padding: 10px;
                padding-left: 20px;
                padding-right: 20px;
                border-radius:35px;
                border: 0 none white;
                color: black;
                font-family: "Fraunces";
                

                &:hover {
                    background-color: $skyBlueHover;
                    color: $white;
                    cursor: pointer;
                }
                
            }
        }
    }
    section {
        h1 {
            margin-top: 5rem;
            display: flex;
            justify-content: center;
            font-size: 2.5rem;
            color: white;
            letter-spacing: .1em;
            padding-top: 1rem;
            font-family: "Fraunces";
        }
        div {
            display: flex;
            justify-content: center;
            margin-top: 7rem;   
        }
        
    }
}

@media only screen and (max-width: 650px) {
    .wrapper_one {
        height: 150vh;
        background: url("../src/images/mobile/image-header.jpg") no-repeat center center;
        background-size: cover;
    
        .wrapper_two{
            .logo{
                img{
                    position: relative;
                    top: 132%;
                    height: 40px;
                }
                
            }
            i {
                display: block;
                color: $white;
                position: relative;
                right: 3%;
                top: 70%;  
            }
        
            nav {
                display: none;
            }

        } 
        section {
            h1{
                text-align: center;
                font-size: 400%;
                margin-top: 35%;
            }
            div {
                margin: 0;
                padding: 0;
                img{
                    margin-top: 16%;
                    height: 11em;
                }
            }
        }
    }
}
