.container {
    margin: 0;
    padding: 0;
    width: 100%;
    display: grid;
    gap: 0;
    grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
    // grid-template-rows: repeat(3, 1fr);

    
    .ads {
        // width: 50%;
        height: 75vh;

    }

    .ads_two {
        background: url("../src/images/desktop/image-transform.jpg") no-repeat center center;
        background-size: cover;
    }
    .ads_three {
        background: url("../src/images/desktop/image-stand-out.jpg")no-repeat center center;
        background-size: cover;
    }
    .ads_five {
        background: url("../src/images/desktop/image-graphic-design.jpg") no-repeat center center;
        background-size: cover;
    }
    .ads_six {
        background: url("../src/images/desktop/image-photography.jpg")no-repeat center center;
        background-size: cover;
    }

}

@media only screen and (max-width: 375px) {
    .container{
        max-width: 100%;
        display: grid;
        gap: 0;
        grid-template-columns: 1fr;

        .ads {
            max-width: 100%;
            height: 75vh;
        }

        .ads_one{
            grid-area: 2 / 1 / 3 / 2;

        }
        .ads_two{
            grid-area: 1 / 1 / 2 / 2;
        }

        .ads_three{
            grid-area: 3 / 1 / 4 / 2;
        }
        .ads_four{
            grid-area: 4 / 1 / 5 / 2;
        }
        .ads_five{
            grid-area: 5 / 1 / 6 / 2;
        }

        .ads_six {
            grid-area: 6 / 1 / 7 / 2;
        }


    }

}

