.two {
    margin: 0;
    padding: 0;
    width: 100vw;
    display: grid;
    gap: 0;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 37.5rem 37.5rem 37.5rem;
    // grid-template-columns: 1fr 1fr;
    // grid-template-rows: 1fr 1fr 1fr;

    .descriptions{
        // border: 2px solid black;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 10.3rem 10rem;
    }


    .first {
        background: url("../src/images/desktop/image-transform.jpg") no-repeat center center;
        background-size: cover;
    }
    .second {
        background: url("../src/images/desktop/image-stand-out.jpg")no-repeat center center;
        background-size: cover;
    }
    .third {
        background: url("../src/images/desktop/image-graphic-design.jpg") no-repeat center center;
        background-size: cover;
    }
    .fourth {
        background: url("../src/images/desktop/image-photography.jpg")no-repeat center center;
        background-size: cover;
    }

    .additional {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
    }

    .wrapper-second {
        padding-left: 12rem;
        padding-right: 12rem;
        padding-bottom: 4rem;
        text-align: center;


    }

}